name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Benchmark
        run: strace -o trace -c -Ttt ./e1.sh -u test -p EPjuMVc73saTc2hb7GVdtLHjkYeFr3SB
